body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #2E4A48;
}
h1 {
    color: black;
    text-decoration-style: solid;
    text-align:center;
    text-shadow: 2px 2px 5px red;
}
.chatbox {
    position: relative;
    bottom: 10px;
    background-color: #2E4A48;
    width: 1000px;
    margin: 0 auto;
    overflow-y: auto;
    border: 10px solid #ccc; ### This is border width for outer box
    padding: 10px;
    border-radius: 10px;
