<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='RIGH_style.css') }}">
    <title>Chatbot</title>
</head>
<body>
  <div class="container">
    <h1>RIGH Chatbot</h1>
    <img src="static/RI.jpeg" />
    <div class="chatbox">
<div id="chatlogs"></div>
<div class="button-box">
    <input type="text" id="userInput" placeholder="Type your question & Hit send ..." autofocus>
            <button onclick="sendMessage()">Send</button>
</div>
    </div>

    <script>
        function sendMessage() {
